.profile-container {
	margin-top: 1rem;
	background-color: #f0f8fc;
	max-width: 50rem;
	padding: 2rem;
	box-shadow: 0 0 1rem rgb(166, 166, 166);
	border-radius: 0.5rem;
}

.profile-pic a {
	display: inline;
	width: min-content;
}

.image-input {
	line-height: initial;
	z-index: 1000;
}

img.profile-pic-img {
	position: relative;
	display: block;
	margin: 3rem auto 2rem auto;
	border: 1px solid #2b3c46;
	box-shadow: 0 0 0.3rem black;
	padding: 0.5rem;
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	object-fit: cover;
}

.lightboxOverlay {
	max-width: 100vw !important;
	height: auto;
}

.user-detail {
	padding-top: 4%;
}

.following,
.followers {
	margin: 3%;
	padding: 1% 5%;
	background-color: rgb(212, 211, 211);
	border-radius: 0.5rem;
	transition: all 0.5s;
}

.following:hover,
.followers:hover {
	cursor: pointer;
	background-color: rgb(193, 190, 190);
}

.following:active,
.followers:active {
	background-color: rgb(161, 158, 158);
}

.lb-data .lb-details {
	width: fit-content !important	;
}

.input-container {
	display: flex;
	justify-content: end;
	padding-left: 1rem;
	padding-right: 1rem;
}
.input-container * {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	img.profile-pic-img {
		width: 40vw;
		height: 40vw;
	}
}

@media only screen and (max-width: 400px) {
	img.profile-pic-img {
		width: 50vw;
		height: 50vw;
	}
}
