.profile-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #f0f8fc;
	max-width: 50rem;
	padding: 2rem;
	box-shadow: 0 0 1rem rgb(166, 166, 166);
	border-radius: 0.5rem;
}

.profile-pic a {
	display: inline;
	width: min-content;
}

.image-input {
	line-height: initial;
	z-index: 1000;
}

img.profile-pic-img {
	position: relative;
	display: block;
	margin: 3rem auto 2rem auto;
	border: 1px solid #2b3c46;
	box-shadow: 0 0 0.3rem black;
	padding: 0.5rem;
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	object-fit: cover;
}

.lightboxOverlay {
	max-width: 100vw !important;
	height: auto;
}

.user-detail {
	padding-top: 4%;
}

.following,
.followers {
	margin: 3%;
	padding: 1% 5%;
	background-color: rgb(212, 211, 211);
	border-radius: 0.5rem;
	transition: all 0.5s;
	color: inherit;
	text-decoration: none;
}

.following:hover,
.followers:hover {
	color: inherit;
}

.following:hover,
.followers:hover {
	cursor: pointer;
	background-color: rgb(193, 190, 190);
}

.following:active,
.followers:active {
	background-color: rgb(161, 158, 158);
}

.lb-data .lb-details {
	width: fit-content !important	;
}

.input-container {
	display: flex;
	justify-content: flex-end;
	padding-left: 1rem;
	padding-right: 1rem;
}
.input-container * {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	cursor: pointer;
}

.user-bio {
	/* margin-top: 1rem; */
	margin-bottom: 2rem;
}

.btn-follow {
	background-color: rgb(39, 134, 193);
	border: none;
	box-shadow: 0 0 0.3rem rgb(39, 134, 193);
	margin-left: 0.5rem;
}

.btn-follow:hover,
.btn-follow:focus {
	background-color: rgb(43, 145, 208);
}

.btn-unfollow {
	box-shadow: 0 0 0.3rem black;
	background-color: rgb(253, 238, 238);
	margin-left: 0.5rem;
}
.btn-unfollow:hover {
	border: 0.05rem solid rgb(63, 63, 63);
}

.btn-unfollow:focus {
	box-shadow: 0 0 0.3rem black;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.follower-container,
.update-profile-container {
	max-width: 30rem;
	background-color: white;
	margin: 10vh auto;
	border-radius: 0.5rem;
}

.follower-container header {
	box-shadow: 0 0.05rem 0.3rem -0.05rem black;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.follower-container h4 {
	padding: 1rem;
}

.nav-user-img {
	height: 2.5rem;
	width: 2.5rem;
	padding: 0.1rem;
	border: 1px solid white;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 0.8rem;
}

.follow-user,
.search-result-user {
	margin: 0;
	width: 100%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.follow-user p,
.search-result-user p {
	margin: 0;
}

.follow-user-name {
	font-size: 1.2rem;
}

.follow-user-username {
	text-decoration: none;
	font-size: 0.9rem;
	color: gray;
}

.follow-user-username:hover {
	color: rgb(89, 89, 89);
}

.follow-user-img,
.search-user-img {
	height: 3rem;
	width: 3rem;
	padding: 0.1rem;
	box-shadow: 0 0 0.3rem #22334d;
	border-radius: 50%;
	object-fit: cover;
}

.search-user-img {
	height: 2.5rem;
	width: 2.5rem;
}

.search-user-username {
	font-size: 0.8rem;
	color: gray;
}

@media only screen and (max-width: 800px) {
	img.profile-pic-img {
		width: 40vw;
		height: 40vw;
	}
}

@media only screen and (max-width: 400px) {
	img.profile-pic-img {
		width: 50vw;
		height: 50vw;
	}
	.follow-user {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.edit-profile-btn {
	border: 1px solid rgb(39, 134, 193);
	color: rgb(39, 134, 193);
}

.edit-profile-btn:hover {
	background-color: inherit;
	border: 1px solid rgb(41, 91, 122);
	color: rgb(41, 91, 122);
}

.edit-profile-btn:focus,
.profile-update-btn:focus,
.profile-update-cancel-btn:focus {
	box-shadow: none;
}

.edit-profile-btn:active {
	box-shadow: none;
	border: 1px solid rgb(98, 140, 168);
	color: rgb(98, 140, 168);
}

.update-profile-container {
	max-width: 35rem;
	padding: 2rem;
}

.update-profile-container input {
	border-radius: 1.5rem;
}

.profile-update-btn {
	color: white;
	background-color: rgb(39, 134, 193);
	margin-right: 1rem;
}

.profile-update-btn:hover {
	color: white;
	background-color: rgb(55, 144, 199);
}

.profile-update-btn:active {
	background-color: rgb(78, 152, 198);
}
